{% extends "layout.html" %}

{% block title %}
    Register - Students
{% endblock %}


{% block main %}
    
<div class="avatar">
    <div class="wrapper">
        <div class="profil_img_cont">
            <img src="../static/fritz.jpg" alt="placeholder">
        </div>
        <div class="user_details">
            <h2 class="username">{{ user["middle_name"] }} {{ user["firstname"]}} {{ user["surname"] }}</h2>
            <p> {{ user["about_me_text"] }}</p>
        </div>
    </div> 
</div>
<div class="indicator">
    <div>
        <a href="#personals-form">Personals Informations</a>
        <a href="#baccalaureat-form">Baccalaureat</a>
        <a href="#contacts">Contacts</a>
    </div>
</div>
<div class="wrapper">
    <div class="cards-cont student-reg-form" id="personals-infos">
        <div class="title">
            <h3>Personals Informations</h3>
        </div>
        <div class="form-box">
            <form action="/register/student" method="post">
                <div class="form-item">
                    <label for="nif">NIF</label>
                    <input type="text" name="nif" id="nif" placeholder="000-000-000-0">
                </div>
                <div class="form-item">
                    <label for="cin">CIN</label>
                    <input type="text" name="cin" id="cin" placeholder="00-00-00-0000-00-00000">
                </div>
                <div class="form-item">
                    <label for="passport">Passport</label>
                    <input type="text" name="passport" id="passport" placeholder="PP0000000">
                </div>
                <div class="form-item">
                    <label for="birthday">Birthday</label>
                    <input type="date" name="birthday" id="birthday">
                </div>
                <div class="form-item">
                    <label for="birth-city">Birth City</label>
                    <input type="text" name="birth-city" id="birth-city" placeholder="Hinche">
                </div>
                <div class="form-item">
                    <label for="birth-state">State</label>
                    <input type="text" name="birth-state" id="birth-state" placeholder="Centre">
                </div>
                <div class="form-item">
                    <label for="birth-country">Country</label>
                    <input type="text" name="birth-country" id="birth-country" placeholder="Haiti">
                </div>
                <div class="form-item">
                    <label for="citizenship">Citizenship</label>
                    <input type="text" name="citizenship" id="citizenship" placeholder="Haiti">
                </div>
                <div class="form-item">
                    <label for="Education Level">Education Level</label>
                    <select name="education-level" id="education-level">
                        <option value="baccalaureat">Baccalaureat</option>
                        <option value="technique">Technique</option>
                        <option value="technique-superieur">Technique Superieur</option>
                        <option value="licence">Licence</option>
                        <option value="maitrise">Maitrise</option>
                        <option value="doctorat">Doctorat</option>
                    </select>
                </div>
                <div class="submit-cont">
                    <button type="submit">Next</button>
                </div>
                
            </form>
        </div>        
    </div>

    <div class="cards-cont student-reg-form" id="baccalaureat-form">
        <div class="title">
            <h3>Baccalaureat</h3>
        </div>
        <div class="form-box">
            <form action="/student-registration" method="post">
                <div class="form-item">
                    <label for="addr-apt">Year</label>
                    <input type="number" name="addr-apt" id="addr-apt" min="1980" max="2022">
                </div>
                <div class="form-item">
                    <label for="addr-street">School</label>
                    <input type="text" name="addr-street" id="addr-street" placeholder="Lycee de Mirebalais">
                </div>
                <div class="form-item">
                    <label for="bac-city">City</label>
                    <input type="text" name="bac-city" id="bac-city" placeholder="Mirebalais">
                </div>
                <div class="form-item">
                    <label for="bac-state">State</label>
                    <input type="text" name="bac-state" id="bac-state" placeholder="Centre">
                </div>
                <div class="form-item">
                    <label for="bac-country">Country</label>
                    <input type="text" name="bac-country" id="bac-country" placeholder="Haiti">
                </div>
                <div class="form-item">
                    <label for="badge-code">Badge Code</label>
                    <input type="text" name="badge-code" id="badge-code" placeholder="000000000">
                </div>
                <div class="form-item">
                    <label for="bac-score">Score</label>
                    <input type="text" name="bac-score" id="bac-score" placeholder="1100">
                </div>                
                <div class="form-item">
                    <label for="bac-score-basis">Score Basis</label>
                    <input type="text" name="bac-score-basis" id="bac-score-basis" placeholder="1800">
                </div>
                <div class="form-item">
                    <p>Was it Successfull?</p>
                    <div class="radio-box">
                        <input type="radio" name="is-success" id="succ-true">
                        <label for="succ-true">Yes</label>
                        <input type="radio" name="is-success" id="succ-false">
                        <label for="succ-false">No</label>
                    </div>
                </div>
                <div class="form-item">
                    <label for="bac-award-code">Award Code</label>
                    <input type="text" name="bac-award-code" id="bac-award-code" placeholder="000-000-000-0">
                </div>
                <div class="submit-cont">
                    <button type="submit">Next</button>
                </div>
                
            </form>
        </div>
            
    </div>

    <div class="cards-cont student-reg-form" id="contacts">
        <div class="title">
            <h3>Contacts</h3>
        </div>
        <div class="form-box">
            <form action="/student-registration" method="post">
                <div class="form-item">
                    <label for="addr-apt">Apt</label>
                    <input type="number" name="addr-apt" id="addr-apt" min="1980" max="Apt 5">
                </div>
                <div class="form-item">
                    <label for="addr-street">Street</label>
                    <input type="text" name="addr-street" id="addr-street" placeholder="Blv Jn Jacques Dessalines">
                </div>
                <div class="form-item">
                    <label for="bac-city">City</label>
                    <input type="text" name="bac-city" id="bac-city" placeholder="Mirebalais">
                </div>
                <div class="form-item">
                    <label for="bac-state">State</label>
                    <input type="text" name="bac-state" id="bac-state" placeholder="Centre">
                </div>
                <div class="form-item">
                    <label for="bac-country">Country</label>
                    <input type="text" name="bac-country" id="bac-country" placeholder="Haiti">
                </div>
                <div class="form-item">
                    <label for="zip-code">Zip Code</label>
                    <input type="text" name="zip-code" id="zip-code" placeholder="HT5210">
                </div> 
                <div class="form-item">
                    <label for="badge-code">Phone</label>
                    <input type="text" name="badge-code" id="badge-code" placeholder="+000-0000-0000">
                </div>
                <div class="form-item">
                    <label for="bac-score">Other</label>
                    <input type="text" name="bac-score" id="bac-score" placeholder="Some other details">
                </div>                
                <div class="submit-cont">
                    <button type="submit">Next</button>
                </div>
                
            </form>
        </div>
            
    </div>
</div>
    
{% endblock %}

{% block Script %}
    <script>

    </script>
{% endblock Script %}